:root {
    --cinza-escuro: #2e2e36;
    --cinza-claro: #44444d;
    --branco: #fff;
    --rosa: #da0175;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

input {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    width: 300px;
    height: 48px;
    padding: 16px;
}

button {
    background-color: var(--rosa);
    color: var(--branco);
    height: 48px;
    width: 300px;
}
